#my_profile_wrap {
    height: 620px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }   
}

#my_profile_wrap div.profile_member_name {
    text-align: left;
    padding: 10px 40px;
    font-size: 1.1em;
    font-weight: bold;
}

#my_profile_wrap div.profile_header {
    display: flex;
    padding-top: 5px;
    /* justify-content: space-between; */
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

#my_profile_wrap div.post, div.friend {
    font-size: 1.2em;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    margin: 30px;
}

#my_profile_wrap div.profile_header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#my_profile_wrap div.profile_self_intro p {
    padding: 10px 40px;
}

#my_profile_wrap div.profile_follow_btn {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}


#my_profile_wrap div.profile_follow_btn input[type="button"] {
    background-color: #3897f0;
    background-color: #3897f0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 100px;
}
#my_profile_wrap div.profile_follow_btn input[type="button"]:hover {
    background-color: #357ae8;
}

#my_profile_wrap #profile_imgs {
    /* text-align: center;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold; */
}

#my_profile_wrap div.profile_img_name {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#my_profile_wrap div.profile_item {
    display: flex;
    margin: 20px;
    justify-content: center;
    background-color: #ddd;

}

#my_profile_wrap div.profile_item img {
    border: 1px solid #000; 
    background-color: #ddd;
} 
