body {
  background: center 25px no-repeat url(/public/imgs/bg.png)
}
div.App {
  width: 952px;
  margin:0 auto;
  margin-top: 68px;
  display: flex;
}

div.App nav {  
  border-right: 1px solid #000;
  
}
div.App section {
  
}